.section-1{
    height: 92vh;
    overflow: hidden;
}
.img-slide {
    object-fit: cover;
    width: 100%;
    height: 85vh;
    object-position: center;
}
.carousel-control-next,
.carousel-control-prev {
    width: unset;
    opacity: unset;
}
.carousel-control-next{
    right: 10px;
}
.carousel-control-prev{
    left: 10px;
}
.section-build .carousel-control-next{
    right: -10rem;
}
.section-build .carousel-control-prev{
    left: -10rem;
}
.img-carousel-arrow{
    width: 80%;
}
.carousel-indicators [data-bs-target]{
    background-color: transparent; /* Màu nền trong suốt cho dot không active */
    border: 2px solid white; /* Viền trắng cho dot không active */
    color: white; /* Màu chữ trắng cho dot không active */
    padding: 3px;
    width: 3px; /* Đường kính của dot */
    height: 3px; /* Đường kính của dot */
    border-radius: 100%; /* Hình dạng tròn cho dot */
    cursor: pointer;
}
.carousel-indicators .active{
    background-color: white; /* Màu nền trắng cho dot active */
    border-color: white; /* Viền trắng cho dot active */
    color: white; /* Màu chữ trắng cho dot active */
}
.border-red{
    border-radius: 23px
}
