.sec1-GT-mb {
    /*padding-top: 2%;*/
}

.imgsec2-GT {
    padding-right: 5%;
    padding-left: 5%;
    /*padding-bottom: 3%;*/
}

.imgsec4-GT {
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 10%;
    padding-top: 5%;
}

.imgsec4-GT-mb {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

.imgsec5-GT-mb {
    padding-top: 3%;
    padding-bottom: 3%;
}

.imgsec6-GT {
    padding-top: 3%;
    padding-bottom: 5%;
    padding-right: 12%;
    padding-left: 12%;
}

.imgsec6-GT-mb {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 4%;
}
