.banner-pools {
    background-image: url("/images/pools/Group 55.png");
    height: 20vh;
}

.content1-pools {
    margin-top: 5%;
    padding-top: 3%;
    background-color: #F3F3F3;
    display: block;
    width: 70%;
    margin-left: 15%;
    border-radius: 23px;
    padding-bottom: 3%;
    margin-bottom: 5%;
}

.text-pools {
    margin-left: 5%;
}
.sec-read .content{
    padding: 5%;
}

@media only screen and (max-width: 800px) {
    .content1-pools {
        padding-top: 0;
        background-color: #F3F3F3;
        display: block;
        width: 95%;
        margin-left: 2%;
        border-radius: 23px;
        padding-bottom: 3%;
        margin-bottom: 5%;
    }
    .text-pools {
        margin: 5%;
        padding-top: 1%;
    }
    .sec-read .content{
        margin-top: 3%;
        padding: 5%;
    }
}
